*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}
nav{
    width: 100%;
    margin: 0;
   

}
.navbar{
    display: flex;
    justify-content: space-between;
    font-weight: 550;

}
.navbar ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    
}
.navbar h2{
  font-size: 1.9rem;
  margin-top: 0.7rem;
  margin-left: 1.8rem;
}
.navbar ul li{
    padding: 1.5rem;
    padding-left: 0.4rem;
    list-style: none;
}
.navbar i{
    margin-top: 1.2rem;
    margin-right: 2rem;
    font-size: 0.9rem;
}
.navbar .fa-amazon{
    margin-top: 1.3rem;
}
.image{
    background: url('../image/image1.jpg') no-repeat center;
    background-size: cover;
    height: 40rem;
    width: 100%;
    
}
.middelSection{
    height: 40rem;
    width: 100%;
    position: relative;
}
.middelSection h1{
    color: #ddd;
    font-size: 6rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
    

}
.middelSection p{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 2rem;
    font-weight: 500;
}
.middelSection .btn{
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
}
.middelSection .btn #btn1 {
    background-color: #ddd;
    padding: 0.6rem 3.5rem;
    border: none;
}
.middelSection .btn #btn2 {
    background-color: #171717;
    padding: 0.6rem 2rem;
    border: none;
    color: #fff;
    font-weight: 600;
}
footer{
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
    margin-bottom: 0.4rem;
}